.navbar-custom {
    background-color: #007bff;
    /* Blue background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff;
    /* White text color */
}

.navbar-custom .nav-link:hover {
    color: #dcdcdc;
    /* Light gray text color on hover */
}

.navbar-custom .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23fff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E');
}